body{
    background-image: url(/img/stadion_inside.jpg);
    background-size: cover;
    
}
.flex-container{
    display: flex;
    margin: auto;
    max-width: 900px;
    justify-content: space-around;
    
}

.flex-item-left {
    

    width: 500px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: grey;
    margin-right: 50px;
    margin-top: 30%;
    color: white;
    font-size: large;
   
    
  }

  .flex-item-right {
    width: 500px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: grey;
    margin-left: 50px;
    margin-top: 30%;
    color: white;
    font-size: large;
  }

::placeholder{
    color: white;
    width: 231px;
    height: 24px;
    top: 6px;
    left: 36px;
    font-size:larger;


}

.vs{
  margin-top: 25%;
  max-width: 15%;
}


.idobekeres{
  background-color: grey;
  color: white;
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: large;
  border-radius: 10px 10px 10px 10px;
  margin-left: 42.5%;
  margin-top: 4%;
  padding-right: 1.5%;
}
.meccs_inditasa{
  background-color: green;
  color: white;
  font-size: large;
  width: 270px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 6%;
  margin-left: 41.3%;
  
}
