@font-face {
    font-family: 'Koulen';
    src: url('koulen-khmer-400-normal.ttf') 
    format('truetype');
    
  
}
@font-face {
    font-family: 'KronaOne';
    src: url('KronaOne-Regular.ttf')
    format('truetype');
}

.flex-container2{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;

}
.flex-item-mid{
    width: 200px;
    height: 45px;
    border-radius: 10px 10px 10px 10px;
    background-color: grey;
    flex: 30%;
    align-items: center;
    justify-content: center;
    border: 2px dotted rgb(96 139 168);
    flex-wrap: wrap;
}


.flex-item-button{
    margin: auto;
    background-color: green;
    color: white;
    text-align: center;
    width: 400px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    font-size: larger;
}

.fooldal{
    background-image: url(img/stadion.jpg);
}

.flex-item-left2{
    background-color: #f1f1f1;
    padding: 10px;
    flex: 20%;
    font-family: 'Koulen';
    

}

.flex-item-mid2{
    background-color: #474747;
    padding: 10px;
    flex: 30%;
    color: white;
    text-align: center;
    font-family: 'Koulen';
;
}

.flex-item-right2{
    background-color: white;
    padding: 10px;
    flex: 20%;
    font-family: 'Koulen';
}

.flex-container3{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    width: 1000px;
    margin: auto;
}

.flex-container4{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    width: 1000px;
    margin: auto;
}

.flex-item-left3{
    width: 300px;
    height: 448px;
    top: 158px;
    left: 165px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: var(--miscellaneous-keyboard-emoji-mic, #1B1F26B8);
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(136, 136, 136, 0.88) 0%, rgba(136, 136, 136, 0.88) 100%);
    backdrop-filter: blur(4px)

}

.flex-item-mid3{
    width: 400px;
    height: 501px;
    top: 158px;
    left: 445px;
    gap: 0px;
    opacity: 0px;
    background: #F85531;


}

.flex-item-right3{
    width: 300px;
    height: 448px;
    top: 158px;
    left: 815px;
    background: var(--miscellaneous-keyboard-emoji-mic, #1B1F26B8);
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(136, 136, 136, 0.88) 0%, rgba(136, 136, 136, 0.88) 100%);
    backdrop-filter: blur(4px)

}

.eredmeny{
    color: white;
    width: 82px;
    height: 233px;
    font-family: 'Koulen';
    font-size: 256px;
    margin: auto;
    padding-right: 45px;
    margin-top: -45px;
}

.eredmeny2{
    color: white;
    width: 82px;
    height: 233px;
    font-family: 'Koulen';
    font-size: 256px;
    margin: auto;
    padding-right: 26px;
    margin-top: -45px;
}

.gomb{
    position: absolute;
    width: 66px;
    height: 56px;
    border-radius: 10px 10px 10px 10px;
    background: #808080;
    margin-top: 150px;
    margin-left: -88px;
    color: white;
    font-size: larger;
}

.gomb2{
    width: 66px;
    height: 56px;
    border-radius: 10px 10px 10px 10px;
    background: #808080;
    margin-top: 150px;
    color: white;
    font-size: larger;
      
}

.eredmeny_allito{
    margin-left: 83px;
}

.eredmeny_allito2{
    margin-right: -85px;
}
.stop_gomb{
    height: 50px;
    width: 35%;
    border-radius: 10px 10px 10px 10px;
    background: #808080;
    color: white;
    font-family: 'KronaOne';
    font-size: large;
    text-align: center;
    margin-top: 106%;
    margin-right: 2%;
    
}

.indito_gomb{
    height: 50px;
    width: 35%;
    border-radius: 10px 10px 10px 10px;
    background-color: #808080;
    color: white;
    font-family: 'KronaOne';
    font-size: large;
    text-align: center;
    margin-left: 2%;
}

/*.minusz{
    position:absolute;
    width:3%;
    height: 45px;
    border-radius: 10px 10px 10px 10px;
    background: #808080;
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: -2%;
    margin-left: -11%;
    margin-top: 23%;
}*/
.plusz{

}



